th.actions-col {
    width: 20%;
}

th.filter-col {
    width: 25%;
}

th.filter-col select {
    padding: 0 8px;
}

td.actions-col button {
    padding: 1px 6px;
    margin-right: 16px;
}

td.actions-col button:hover {
    background-color: #ccc;
    border-color: #ccc;
}